.site-body {
    background-color: transparent;
}
body {
    background-color: transparent;
    margin: 0;
    overflow-x: hidden;
    color: black;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;

    width: 200%;
    height: 100vh;

    background-image:
        url("https://raw.githubusercontent.com/MapMaster0/guzmun/main/src/site/img/user/guzmunbackground.png"),
        url("https://raw.githubusercontent.com/MapMaster0/guzmun/main/src/site/img/user/guzmunbackground.png");

    background-repeat: repeat-x;
    background-position: 0 0, 1920px 0;
    background-size: auto 100%;

    animation: scrollbg 30s linear infinite;

    z-index: -1;
}

body::after {
    content: "";
    position: fixed;
    bottom: 0;
    left: 0;

    width: 200%;
    height: 100vh;

    background-image:
        url("https://raw.githubusercontent.com/MapMaster0/guzmun/main/src/site/img/user/guzmunbackground.png"),
        url("https://raw.githubusercontent.com/MapMaster0/guzmun/main/src/site/img/user/guzmunbackground.png");

    background-repeat: repeat-x;
    background-position: 0 0, 1920px 0;
    background-size: auto 100%;

    animation: scrollbg 30s linear infinite;

    z-index: -1;
}

body::before { top:0; height:50vh; }
body::after  { bottom:0; height:50vh; }

@keyframes scrollbg {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-1920px);
    }
}

p {
    border: 3px solid black;
    color: black;
    background-color: yellow;
}

.callout[data-callout="info"] {
    background-color: grey;
    --callout-color: 253, 251, 212;
    --callout-icon: info;
}
