body {
    --dg-filetree-logo-height: 200px;
    --dg-filetree-padding: 30px 30px;
}
.site-logo img {
    width: 100%;
    max-width: 100%;
}
.filetree-sidebar .site-logo {
    margin-bottom: 5px;
}
@media (max-width: 800px) {
    .callout {
        padding-right: 25px;
    }
}
