body {
    --dg-filetree-logo-height: 200px;
    --dg-filetree-padding: 30px 30px;
}
.site-logo img {
    width: 100%;
    max-width: 100%;
}
.filetree-sidebar .site-logo {
    margin-bottom: 5px;
}
@media {
    .callout {
        padding-right: 25px;
    }
}

@media (min-width: 1000px) and (max-width: 1400px) {
    .content {
        padding-right: 60px;
    }
}

  #floating-control {
    position: fixed;
    color: var(--link-color);
    bottom: 1vmax;
    right: 1vmax;
    font-size: 24px;
    z-index: 999999;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 5px;

    .svg-icon,
    i {
      cursor: pointer;
      height: 24px;
      width: auto;
    }

    #theme-switch {
      .light {
        display: none;
      }

      .dark {
        display: none;
      }

      .auto {
        display: none;
      }
    }

    #theme-switch.light {
      .light {
        display: inline;
      }
    }

    #theme-switch.dark {
      .dark {
        display: inline;
      }
    }

    #theme-switch.auto {
      .auto {
        display: inline;
      }
    }
  }
